
@model archNoire.Models.Admin
@{
    ViewBag.Title = "UserLoginIndex";
}

<h2>admin login</h2>



@using (Html.BeginForm("LogIn", "Admin", FormMethod.Post))
{
    @Html.TextBoxFor(Admin => Admin.email, new { @type = "email", @class = "form-control", @required = "true" })
    @Html.TextBoxFor(Admin => Admin.password, new { @class = "form-control", @type = "password", @required = "true" })
    <input id="UserSubmit" type="submit" value="admin Login" />
}


