@Html.Partial("_userNavBar", null, new ViewDataDictionary { { "id", @ViewBag.userID } })
<style>
    .row {
        padding: 20px;
    }

    h2 {
        text-align: center;
    }

    .col-md-2 {
        border-right: 2px solid black;
    }

    .col {
        min-height: 100vh
    }
</style>


<h2>user home</h2>


<div class="row">

    <div class="col col-md-12">
        <h2>friends and pages posts he liked</h2>
        <div class="post">

            <div class="thumbnail">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>text</p>
                    <p></p>
                </div>
                <img src="" alt="" class="post-img">
                <div class="icons">
                    <a href="@Url.Action("LikePost","Post")"> <i class="fa fa-thumbs-up"></i> like</a>
                    <a href="@Url.Action("ShowComments","Comment")"> <i class="fa fa fa-commenting"></i> comment</a>
                </div>
            </div>

        </div>

    </div>
</div>

@Html.Partial("_userFooter");


