
@{
    ViewBag.Title = "Index";
}

<h2>page</h2>

<div class="row">
    <div class="col-md-2">info</div>
    <div class="col-md-2">reviews</div>
    <div class="col-md-4">events</div>
    <div class="col-md-4">posts</div>
</div>