
@model archNoire.Models.UserAndPage
    @{
        ViewBag.Title = "UserLoginIndex";
    }

    <h2>User login</h2>



    @using (Html.BeginForm("Index", "User", FormMethod.Post))
    {
        @Html.TextBoxFor(UserAndPage => UserAndPage.user.email, new { @type = "email", @class = "form-control", @required = "true",@placeholder = "email" })
        @Html.TextBoxFor(UserAndPage => UserAndPage.user.password, new { @class = "form-control", @type = "password", @required = "true" , @placeholder = "password" })
        <input id="UserSubmit" type="submit" value="User Login" />
    }

    <h2>Page login</h2>


    @{
        ViewBag.Title = "UserLoginIndex";
    }

    <h2>login</h2>


    @using (Html.BeginForm("PageLoginIndex", "LogIn", FormMethod.Post))
    {
        @Html.TextBoxFor(UserAndPage => UserAndPage.page.email, new { @type = "email", @class = "form-control", @required = "true" })
        @Html.TextBoxFor(UserAndPage => UserAndPage.page.password, new { @class = "form-control", @type = "password", @required = "true" })
        <input id="PageSubmit" type="submit" value="Page Login" />
    }

